In [1]:
import tkinter
from tkinter import *
import pandas as pd
import numpy as np

In [2]:
root = Tk()

root.title("Pandemic Analytics Engine")

root.geometry("200x600")

root.configure(background = "light grey")

In [3]:
df = pd.read_csv("covid19india.csv")
df.head(5)

,Sno,Date,Time,State/UnionTerritory,ConfirmedIndianNational,ConfirmedForeignNational,Cured,Deaths,Confirmed
0,1,30-01-2020,6:00 PM,Kerala,1,0,0,0,1
1,2,31-01-2020,6:00 PM,Kerala,1,0,0,0,1
2,3,01-02-2020,6:00 PM,Kerala,2,0,0,0,2
3,4,02-02-2020,6:00 PM,Kerala,3,0,0,0,3
4,5,03-02-2020,6:00 PM,Kerala,3,0,0,0,3

In [4]:
df1 =pd.pivot_table(df,index="State/UnionTerritory",values = ["Confirmed","Cured","Deaths"]).sort_values(by="Confirmed",ascending=False).astype(int)
df1

                                          Confirmed  Cured  Deaths
State/UnionTerritory
Maharashtra                                   42897  19007    1766
Tamil Nadu                                    17530   9277     190
Delhi                                         16156   8149     484
Gujarat                                       11132   6660     665
Telangana                                      9550   4269     216
Cases being reassigned to states               6621      0       0
Uttar Pradesh                                  5492   3222     151
Madhya Pradesh                                 5216   3210     234
Rajasthan                                      5173   3509     117
West Bengal                                    4503   2281     213
Andhra Pradesh                                 3100   1515      47
Karnataka                                      2789   1421      46
Bihar                                          2649   1621      17
Haryana                                        2560   1415      35
Jammu and Kashmir                              1867    922      23
Assam                                          1682    912       3
Odisha                                         1558   1015       5
Punjab                                         1548   1008      35
Telengana                                      1017    492      29
Kerala                                          808    426       5
Jharkhand                                       692    407       4
Uttarakhand                                     650    374       7
Chhattisgarh                                    592    348       2
Tripura                                         434    235       0
Himachal Pradesh                                235    129       3
Goa                                             227     69       0
Manipur                                         202     68       0
Chandigarh                                      174    116       2
Ladakh                                          167     65       0
Nagaland                                        153     59       0
Dadra and Nagar Haveli and Daman and Diu        109     32       0
Puducherry                                      100     39       1
Unassigned                                       53      0       0
Sikkim                                           42     13       0
Arunachal Pradesh                                37      7       0
Mizoram                                          33      6       0
Andaman and Nicobar Islands                      32     24       0
Meghalaya                                        24     14       0
Dadar Nagar Haveli                                5      0       0
Daman & Diu                                       2      0       0

In [5]:
root = Tk()
root.title("Pandemic Analytics Engine")

root.configure(background = "light grey")

root.geometry("300x600")

lbl=Label(root,text="Pandemic Analyzer", fg = "blue",font=("SUNKEN",30))
lbl.grid(row=1,column=1)

In [6]:
def calculate():

    population = e2.get()
    int_total_ppl = int(population)

    infected = e3.get()
    int_infected = int(infected)

    deceased = e4.get()
    int_deceased = int(deceased)

    ifr = (int_deceased / int_infected) * 100
    cmr = (int_deceased / int_total_ppl)*100
    
    

    lbl1 = Label(root, font=("SUNKEN", 22, "bold"), text="value")
    lbl1.grid(row=7, column=1)

    lbl2 = Label(root, font=("SUNKEN", 12, "bold"), text="IFR : ")
    lbl2.grid(row=9, column=1)
    
   

    lbl3 = Label(root, text=ifr)
    lbl3.grid(row=9, column=2)

    lbl4 = Label(root, font=("SUNKEN", 12, "bold"), text="CMR : ")
    lbl4.grid(row=10, column=1)
   
   
    lbl5 = Label(root, text=cmr)
    lbl5.grid(row=10, column=2)

    
options = ["Maharashtra","Tamil Nadu","Delhi","Gujarat","Uttar Pradesh","West Bengal","Rajasthan","Telengana","Karnataka","Andhra Pradesh","Haryana","Madhya Pradesh","Bihar","Assam","Jammu and Kashmir","Odisha","Punjab","Kerala","Chhattisgarh","Uttarakhand","Jharkhand","Goa","Tripura","Manipur","Himachal Pradesh","Ladakh","Puducherry","Nagaland","Chandigarh","Dadra and Nagar Haveli","Arunachal Pradesh","Mizoram","Andaman and Nicobar","Sikkim","Meghalaya","Lakshadweep"]

select = StringVar() 
select.set(options[0])

In [7]:
lbl2 = Label(root, text="Select State", fg="white")
lbl2.grid(row=2)

drop = OptionMenu(root,select,*options)
drop.grid(row=2,column=2)

lbl3 = Label(root, text="Total number of Population", fg="purple")
lbl3.grid(row=3)

e2 = Entry(root)
e2.grid(row=3, column=2)

lbl4 = Label(root, text="Infected",fg="yellow")
lbl4.grid(row=4)
e3 = Entry(root)
e3.grid(row=4, column=2)



lbl5 = Label(root, text="Deceased" ,fg="red")
lbl5.grid(row=5)
e4 = Entry(root)
e4.grid(row=5, column=2)

lbl6 = Label(root, text="Recovered", fg="green")
lbl6.grid(row=6)







lbl7 = Label(root, text="Value",fg="blue")
lbl7.grid(row=12)


button1 = Button(root, text="Calculate IFR & CMR",command=calculate)
button1.grid(row = 13, column=2)


root.mainloop()